.wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    align-items:start;
}

.card {
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    background-color:white;
    padding:5px;
    width:1fr-20px;
    margin-top:7px;
}

.container {
	background-color: #E2E4E6;
	border-radius: 5px;
    padding: 10px;
    font-size: 110%;
    min-height:30px;
}

h3 {
    margin-top:5px;
    margin-bottom:10px;
    grid-row:1/2;
    border-bottom:2px solid black;
}